:root {
    --gu-blue: rgb(0, 97, 143);
    --gu-light-blue: rgb(72, 169, 218);
    --gu-grey: rgb(248, 246, 245);
    --gu-sandgrey: rgb(228, 227, 221);
    --gu-dark-grey: rgb(77, 75, 70);
    --gu-orange: rgb(201,98,21);
    --uni-primary: var(--gu-blue);
    --uni-secondary: var(--gu-light-blue);
    --uni-bg: var(--gu-grey);
    --uni-bg-secondary: var(--gu-sandgrey);
    --uni-dark: var(--gu-dark-grey);
    --uni-accent: var(--gu-orange);
}

@font-face {
    font-family: "Meridien";
    src: local(''), url("fonts/meridien.ttf") format('truetype');
}
@font-face {
    font-family: "Univers";
    src: local(''), url("fonts/univers.ttf") format('truetype');
}

kbd {
    background-color: #eee;
    border-radius: 3px;
    border: 1px solid #b4b4b4;
    box-shadow:
        0 1px 1px rgba(0, 0, 0, 0.2),
        0 2px 0 0 rgba(255, 255, 255, 0.7) inset;
    color: #333;
    display: inline-block;
    font-size: 1.2em;
    font-family: monospace, monospace;
    font-weight: 700;
    line-height: 1;
    padding: 2px 4px;
    white-space: nowrap;
}

.reveal{

    font-family: "Arial Narrow";

    img {
        margin: 0;
    }

    section {
        z-index: 1;
    }

    h2 {
        font-size: 1.8em;
        font-family: "Univers";
        color: var(--uni-bg);
        font-variant: small-caps;
        background-color: var(--uni-dark);
        position: absolute;
        left: 1%;
        top: 3%;
        width: 80%;
        padding-left: 20%;
        padding-right: 2%;
        max-width: max-content;
        max-height: 1.8em;
        overflow: hidden;
        z-index: 100;
        white-space: nowrap; 
    }

    h3 {
        color: var(--uni-primary);
        font-family: "Univers";
    }

    .r-stretch{
        max-width: 100%;
        max-width: 100%;
    }

    #title-slide {
        height: 100%;
        width: 100%;
        align-content: center;
    }

    .slides {
        background-color: var(--uni-primary);
    }

    .slide-number > a[href*='title-slide'] {
        display: none;
    }

    .title-banner {
        width: 100%;
        height: 65%;
        overflow: hidden;
        display: flex;
        position: relative;
        align-items: center;
        justify-items: center;
        justify-content: center;
    }

    .imgcont{
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        height: 100%;
        width: 100%;
    }

    .imgcont > img{
        flex-shrink: 0;
        min-width: 100%;
        min-height: 100%;
        object-fit: cover;
    }
    .imgcont:after{
        content: "";
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        opacity: 0.7;
        background-image: linear-gradient(351deg, var(--uni-secondary) 28%, var(--uni-primary) 87%);
    }

    .title-wrapper {
        font-family: "Meridien";
        position: absolute;
        bottom:0;
        left:2%;
        display: inline-block;
        width: auto;
        max-width: 96%;
        align-items: flex-start;
        box-sizing: border-box;
        max-height: 75%;
        overflow-x: visible;
        vertical-align: top;
    }

    .title {
        display: block;
        box-sizing: border-box;
        max-width: 100%;
        text-align: left;
        white-space: normal; 
        color: var(--uni-bg);
        margin: 5px;
        font-size: 2.8em;
        line-height: 1;
        font-weight: 600;
        border-bottom: 2px solid var(--uni-bg);
        text-wrap: balance;
    }

    .title-text{
        font-family: "Univers";
        font-variant: small-caps;
        display: inline;
    }

    .subtitle {
        color: var(--uni-bg);
        display: block;
        max-width: 100%;
        font-family: "Univers";
        text-align: left;
        padding: 0 0 0 4%;
        font-size: 1.3em;
        margin-top: 0px !important;
        line-height: 1;
        margin-bottom: 15px !important;
        word-wrap: break-word;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    .slide-logo {
        position: fixed;
        bottom: 0px !important;
        right: 0px !important;
        padding-bottom: 7.5px !important;
        padding-top: 7.5px !important;
        padding-left: 10px !important;
        padding-right: 10px !important;
        height: 8% !important;
        max-height: 8% !important;
        width: 8% !important;
        border-left: 2px solid var(--uni-primary);
        object-fit: contain;
        z-index: 12 !important;
    }

    .authors{
        display: flex;
        justify-content: flex-end;
        width: 100%;
        position: absolute;
        top: 5px;
        text-align: left;
        white-space: nowrap; 
        font-family: "Arial Narrow";
        font-size: .8em;
        color: var(--uni-bg);
        line-height: 1 !important;
        margin-bottom: 4px !important;
    }

    .quarto-title-author-name {
        font-size: 1em !important;
        margin-bottom: 2px;
    }

    .quarto-title-author-email {
        font-size: .8em !important;
        margin-bottom: 2px !important;
    }

    .quarto-title-affiliation {
        font-size: .8em !important;
    }

    .slide-contents-wrap {
        position: relative;
        top: 0;
        left: 20%;
        width: 80%;
        height: 100%;
        background-color: var(--uni-bg);
        padding-top: calc(3% + 1.8em);
        padding-left: 1%;
        padding-right: 1%;
        box-sizing: border-box;
        overflow: hidden;
    }

    .slide-contents-wrap:after {
        content:"";
        position:absolute;
        left:0;
        right:0;
        bottom:0;
        height: calc(8% + 15px);
        display:block;
        background-color:inherit;
        border-top: solid 2px var(--uni-primary);
    }

    .slide-contents-wrap ::marker {
        color: var(--uni-primary);
    }

    section.scrollable .slide-contents-wrap > * {
        overflow-y: scroll;
        width: 97%;
        max-height: calc(100% - 8% - 15px);
    }

    #menubarbottom::before {
        content: "";
        border: 0;
        width: 100%;
        height: 100%;
        position: absolute;
    }

    #menubarbottom {
        flex-direction: column;
        position: absolute;
        top: calc(1.8em + 10%);
        left: 2%;
        font-family: "Univers";
        color: var(--uni-bg);
        font-size: .6em;
        max-height: 35%;
        max-width: 16%;
        overflow-y: hidden;
        -webkit-transition: none !important;
        -moz-transition: none !important;
        -o-transition: none !important;
        transition: none !important;
        transform: none !important;
        z-index: 12 !important;;
    }

    #menubarbottom * {
        z-index: 13;
        margin-top: 0;
        margin-bottom: 0;
    }

    #menubarbottom > ol {
        list-style-position: inside;
        margin: 0;
        line-height: 1;
    }

    #menubarbottom > ol .active {
        border-left: 2px solid var(--uni-bg);
        padding-left: 10px !important;
        padding-bottom: 1px;
        padding-top: 1px;
    }

    #menubarbottom > ol li:not(.active) {
        border-left: 2px solid var(--uni-dark);
        padding-left: 10px !important;
        padding-bottom: 1px;
        padding-top: 1px;
    }

    #menubarbottom > ol li:hover, 
    #menubarbottom > ol li:hover a  {
        color: var(--uni-secondary);
    }

    #menubarbottom > ol li a {
        display: inline;
        color: var(--uni-bg);
    }

    #menubarbottom > ol li::marker {
        display: inline;
    }

    .progress {
        color: var(--uni-secondary);
    }

    .auths {
        font-family: "Univers";
        font-variant: small-caps;
        font-size: .5em;
        color: var(--uni-secondary);
        position: absolute;
        bottom: 0%;
        left: 0%;
        width: calc(20% - 10px);
        height: calc(8% + 15px);
        padding-left: 5px;
        padding-right: 5px;
        text-align: center;
        align-content: center;
        overflow: hidden;
        z-index: 1;
        line-height: 1;
        text-wrap: balance;
    }

    .auths p {
        line-height: 1 !important;
        margin: 0 !important;
    }

    .pres-context {
        font-family: "Univers";
        font-size: .5em;
        color: var(--uni-primary);
        position: absolute;
        bottom: 0%;
        left: 20%;
        width: 30%;
        padding-left: 5px;
        padding-right: 5px;
        text-align: center;
        overflow: hidden;
        z-index: 15;
        line-height: 1;
        border-right: 2px solid var(--uni-primary);
        height: calc(8% + 15px);
        align-content: center;
        text-wrap: balance;
    }
    
    .pres-context p {
        line-height: 1 !important;
        margin: 0 !important;
    }

    .pres-title {
        font-family: "Univers";
        font-size: .5em;
        color: var(--uni-primary);
        position: absolute;
        bottom: 0%;
        left: calc(50% + 12px);
        width: 30%;
        padding-left: 5px;
        padding-right: 5px;
        text-align: center;
        overflow: hidden;
        z-index: 15;
        line-height: 1;
        border-right: 2px solid var(--uni-primary);
        height: calc(8% + 15px);
        align-content: center;
        text-wrap: balance;
    }

    .pres-title p {
        line-height: 1 !important;
        margin: 0 !important;
    }

    .slide-number-delimiter {
        display:none;
    }

    .img-source {
        position: absolute;
        top: calc(1.8em + 45% + 20px);
        left: 2%;
        max-height: 35%;
        width: 16%;
        font-family: "Univers";
        color: var(--uni-secondary) !important;
        font-size: .4em !important;
    }

    .img-source a{
        color: var(--uni-secondary) !important;
    }

    .img-source li a:hover {
        color: var(--uni-bg) !important;
    }

    .img-source li{
        margin-top: 0 !important;
        margin-bottom: 0 !important;
        line-height: 1;
    }

    .slide aside {
        bottom: calc(8% + 15px);
        color: var(--uni-primary);
        font-size: .4em
    }

    .pdf-page{
        background-color: var(--uni-primary) !important;
    }

    .pdf-page.hide-menubar {
        background-color: var(--uni-bg) !important;
    }

    .panel-tabset-tabby {
        margin-bottom: 0 !important;
    }

    .panel-tabset-tabby a {
        color: var(--uni-primary) !important;
    }

    .tab-content {
        border: 1px solid var(--uni-primary);
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }

    blockquote {
        font-family: "Meridien";
        color: var(--uni-dark);
    }

    .arrow-right::before {
        content: "";
        width: 0; 
        height: 0; 
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent; 
        border-right:10px solid blue; 
    }

    .citation {
        font-size: .7em;
    }

    .citation a {
        color: var(--uni-primary);
    }

    .citation a:hover {
        filter: brightness(150%);
    }
    
    .img-source .citation {
        font-size: 1em;
    }

    .img-source .citation a {
        font-size: 1em;
    }

    .quarto-auto-generated-content {
        overflow-y: hidden !important;
    }

    .references {
        column-count: var(--quarto-refs-cols);
        font-size: var(--quarto-refs-font-size);
        overflow: hidden !important;
        text-align: justify;
        text-wrap: wrap;
        break-inside: avoid-column;
        margin-left: 0 !important;
        overflow-wrap: break-word;
    }

    .references .csl-entry {
        break-inside: avoid;
        margin-bottom: .5em;
        text-justify: inter-word;
    }

    .csl-entry a {
        color: black;
    }

    .csl-entry a:hover {
        color: grey;
    }
}

body.hide-menubar #menubarbottom,
.pdf-page.hide-menubar #menubarbottom,
.overview #menubarbottom {
    visibility: hidden;
}

body.hide-menubar .auths,
.pdf-page.hide-menubar .auths,
.overview .auths{
    display: none;
}

body.hide-menubar .pres-context,
.pdf-page.hide-menubar .pres-context,
.overview .pres-context{
    display: none;
}

body.hide-menubar .pres-title,
.pdf-page.hide-menubar .pres-title,
.overview .pres-title{
    display: none;
}

html:lang(en) .slide-number-a:before {
    content: "Slide ";
}

html:lang(de) .slide-number-a:before {
    content: "Folie ";
}

html:lang(en) .slide-number-a:after {
    content: " of ";
}

html:lang(de) .slide-number-a:after {
    content: " von ";
}

.slide-number, .reveal.has-logo .slide-number {
    font-family: "Univers" !important;
    font-size: .5em !important;
    color: var(--uni-primary) !important;
    position: absolute !important;
    bottom: 0% !important;
    left: calc(80% + 24px) !important;
    width: calc(100% - 80% - 34px - 8% - 22px) !important;
    padding-left: 5px !important;
    padding-right: 5px !important;
    text-align: center !important;
    overflow: hidden !important;
    white-space: nowrap !important;
    z-index: 15 !important;
    line-height: 1 !important;
    height: calc(8% + 15px) !important;
    align-content: center !important;
    top: unset !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.slide-number, .reveal.has-logo .slide-number a {
    color: var(--uni-primary) !important;
    opacity: 1 !important;
}
.slide-number, .reveal.has-logo .slide-number a:hover {
    color: var(--uni-primary) !important;
    opacity: 1 !important;
}

.slide-number-pdf {
    display: unset !important;
}

.hide-menubar .slide-number-pdf {
    display: none !important;
}

html:lang(en) .slide-number-pdf:before {
    content: "Slide ";
}

html:lang(de) .slide-number-pdf:before {
    content: "Folie ";
}

.reveal.smaller .slides section, .reveal .slides section.smaller, .reveal .slides section .callout {
    font-size: unset;
}

.reveal.smaller .slides h2, .reveal .slides section.smaller h2 {
    font-size: 1.8em;
}

body.hide-menubar .slides {
    background-color: var(--uni-bg);
}

html.print-pdf #title-slide {
    align-content: center;
    height: 1080px;
    background-color: var(--uni-bg);
}

html.print-pdf .title-banner {
    height: 65%;
}

html:not(.print-pdf) .slide-background-content {
    background-color: black;
}

.lightable-striped tbody tr:nth-child(even){
    background-color: var(--uni-bg-secondary) !important;
}

.lightable-hover tbody tr:hover{
    background-color: var(--uni-secondary) !important;
}

.uni-primary{
    color: var(--uni-primary) !important;
}

.uni-secondary{
    color: var(--uni-secondary) !important;
}

.uni-accent{
    color: var(--uni-accent) !important;
}

.uni-dark{
    color: var(--uni-dark) !important;
}

.uni-bg{
    color: var(--uni-bg) !important;
}

.uni-bg-secondary{
    color: var(--uni-bg-secondary) !important;
}

.vert-center{
    height: 87%;
    width: 100%;
    align-content: center;
}

.all-center{
    height: 87%;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
}